<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.hybridframework.viroamV1" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>viroamV1</name>
  <description>viroamV1</description>
  <author email="viroamV1@hybridframework" href="http://hybridframework.com/">
      viroamV1 Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="AllowInlineMediaPlayback" value="true"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>