@import "../../bower_components/ionic/scss/ionic.scss";
@import "../../bower_components/font-awesome/scss/font-awesome.scss";
.full-screen {
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
.full-height, .full-height .fa-surface {
    height: 100%
}
.full-width, .full-width .fa-surface {
    width: 100%
}
#mainContextMapChatProfile {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* CSS DE LA MAP*/

.angular-google-map-container {
    height: 610px;
}
.gm-style-cc {
    display: none;
}
.header {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: grey;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
}
#fixedmarker {
    position: absolute;
    left: 47.8%;
    top: 48%;
}
.button {
    position: absolute;
    bottom: 20px;
    left: 80px;
    right: 80px;
    background-color: red;
    height: 30px;
    color: #fff;
}

.classtest {
    position: absolute;
    left: 80px;
    right: 80px;
    background-color: red;
    height: 30px;
    color: #fff;
}

.button-radius-more {
	position: absolute;
	bottom: 40px;
	height: 25px;
	width: 25px;
	right: 10px;
	background-color: #0066CC;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 25px;
	font-weight: bold;;
}

.button-radius-less {
	position: absolute;
	bottom: 10px;
	height: 25px;
	width: 25px;
	right: 10px;
	background-color: #0066CC;
	color: #fff;
	line-height: 20px;
	text-align: center;
	font-size: 40px;
}

/* CSS POUR LE SLIDER DE PRIX*/

.range {
    position: absolute;
    bottom: 70px;
    left: 40px;
    right: 40px;
    height: 50px;
    color: #fff;
    background-color: #6699CC;
}

input[type=range] {
    -webkit-appearance: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-image: url('../images/slider-price.png');
    opacity: 1;
    width: 26px;
    height: 26px;
    border-radius: 100px;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    box-sizing: border-box;
    width: 100%;
}
/* CSS POUR LA VIDEO*/

.video-responsive {
    position: absolute;
    height: 675px;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    color: #fff;
    background: url(../images/penthouseny.jpeg);
}
