<fa-app id="houseProfileView">
  	<!-- <fa-surface fa-background-color="'#E8E7E9'" fa-color="'#fff'"> -->
		
		<!-- <fa-surface fa-size="[undefined,undefined]"
					fa-background-color="'#E8E7E9'">
			
		</fa-surface> -->

		<!-- <fa-image-surface fa-image-url="images/blurBackground.jpg">
		</fa-image-surface>

		<fa-image-surface fa-image-url="image/blurBackground.jpg">
		</fa-image-surface>

		<fa-image-surface fa-image-url="blurBackground.jpg">
		</fa-image-surface>

		<fa-image-surface fa-image-url="images/blurBackground.jpg">
		</fa-image-surface>

		<fa-image-surface fa-image-url="../images/blurBackground.jpg">
		</fa-image-surface>

		<fa-image-surface fa-image-url="../../images/blurBackground.jpg">
		</fa-image-surface>

		<fa-image-surface fa-image-url="../../../images/blurBackground.jpg">
		</fa-image-surface>

		https://viroam.proto.io/assets/project/02b6411a-5996-43be-9d84-a44294607b98/root/a696bb3214c6d5c46d2d83ea25decc29.jpg
		
		<fa-image-surface fa-image-url="https://viroam.proto.io/assets/project/02b6411a-5996-43be-9d84-a44294607b98/root/a696bb3214c6d5c46d2d83ea25decc29.jpg">
		</fa-image-surface> -->
		

		<fa-surface fa-size="[undefined, undefined]">
			<div id="houseProfileBackground"></div>
		</fa-surface>

  		<fa-modifier fa-origin="[0.5, 0]"
  					 fa-translate="[vm.windowWidth / 2, vm.windowHeight / 20]"
  					 fa-opacity="1">	
  			<fa-surface fa-size="[5 * vm.windowWidth / 6, vm.windowHeight / 10]"
  						fa-background-color="vm.undefinedColor"
  						fa-properties="vm.inputZoneProperties">
  						<!-- the use of vm.undefinedColor allow the surface to be transparent -->
  				<!-- <h1>Adress, {{vm.windowHeight}}</h1> -->
  				Adress :
  			</fa-surface>
		</fa-modifier>

		<fa-modifier fa-origin="[0.5, 0]"
	              	 fa-translate="[vm.windowWidth / 2, vm.windowHeight / 5]"
	              	 fa-opacity="1">	
  			<fa-surface fa-size="[5 * vm.windowWidth / 6, vm.windowHeight / 10]" 
  						fa-background-color="vm.undefinedColor"
  						fa-properties="vm.inputZoneProperties">
  						<!-- the use of vm.undefinedColor allow the surface to be transparent -->
  				Price : £
  				<input ng-model="vm.price" id="houseProfilePrice" ng-style="vm.priceStyle" maxlength="6"></input>
  				pw
  			</fa-surface>
		</fa-modifier>

		<fa-modifier fa-origin="[0.5, 0]"
	              	 fa-translate="[vm.windowWidth / 2, 7 * vm.windowHeight / 20]"
	              	 fa-opacity="1">	
  			<fa-surface fa-size="[5 * vm.windowWidth / 6, vm.windowHeight / 5]" 
  						fa-background-color="vm.undefinedColor"
  						fa-properties="vm.inputZoneProperties">
  						<!-- the use of vm.undefinedColor allow the surface to be transparent -->
  				Availability : 
  				<br>
  				From :
  				<input ng-model="vm.startDate" type="date" ng-style="vm.dateStyle">
  				<br>
  				To :
  				<input ng-model="vm.endDate" type="date" ng-style="vm.dateStyle">
  			</fa-surface>
		</fa-modifier>

		<fa-modifier fa-origin="[0.5, 0]"
	              	 fa-translate="[vm.windowWidth / 2, 12 * vm.windowHeight / 20]"
	              	 fa-opacity="1">	
  			<fa-surface fa-size="[5 * vm.windowWidth / 6, vm.windowHeight / 5]" 
  						fa-background-color="vm.undefinedColor"
  						fa-properties="vm.inputZoneProperties">
  						<!-- the use of vm.undefinedColor allow the surface to be transparent -->
  				Roommates :
  			</fa-surface>
		</fa-modifier>

		<fa-modifier fa-origin="[0.5, 0]"
	              	 fa-translate="[vm.windowWidth / 2, 17 * vm.windowHeight / 20]"
	              	 fa-opacity="1">	
  			<fa-surface fa-size="[5 * vm.windowWidth / 6, vm.windowHeight / 10]" 
  						fa-background-color="vm.buttonColor"
  						fa-properties="vm.inputButtonProperties"
  						fa-touchstart="vm.activeButton()"
  						fa-touchend="vm.desactiveButton()"
  						fa-click="vm.submitHouse()">
  						Send
  			</fa-surface>
		</fa-modifier>



		<!-- <fa-modifier fa-translate="[0, 400]">
			<fa-surface fa-background-color="'#000'"
						fa-size="[100,100]">
				<input type="button" value="set color" ng-click="myStyle={color:vm.color}">
				<input type="button" value="set background" ng-click="myStyle={'background-color':'blue'}">
				<input type="button" value="clear" ng-click="myStyle={}">
				<br/>
				<span ng-style="myStyle">Sample Text</span>
				<pre>myStyle={{myStyle}}</pre>
			</fa-surface>
		<fa-modifier> -->

		

  	<!-- </fa-surface> -->
</fa-app>
