<div>
    <button ng-click="vm.createApartment()">Create Apartment</button>
    <button ng-click="vm._getApartmentsSeenForActiveUser()">Get Apartments Seen For Active User</button>
    <button ng-click="vm.getApartmentsToDisplay()">Get Apartment To Display</button>
    <button ng-click="vm.getChatConversionsForSearchers()">Get Chat Conversions For Searchers</button>
    <button ng-click="vm.getArrayOfApartmentsInCircleForSearchers()">Get Array of Apartments in circle for Searchers</button>
    <button ng-click="vm.getApartmentsSeenBySearchersEntity()">Get Apartment Seen By searcher Entity</button>
</div>
